<header class="bg-white text-[#25272E] text-center font-extrabold font-['Asap'] p-8">
  <h1>Rock Paper Scissors </h1>
</header>

<div class=" relative border-2 border-black rounded w-[200px] my-[20px] mx-auto text-black text-[25px] text-center py-[15px] px-[20px]">
  <div class="bg-[#E25840] text-white text-[14px]  py-[2px] px-[10px] absolute top-[25px] left-[-25px]"> User: {{userSelected}} </div>     
  <div class="bg-[#E25840] text-white text-[14px] py-[2px] px-[10px] absolute top-[25px] right-[-20px]"> Pc: {{pcSelected}} </div> 
  <span> {{userScore}} </span> : <span> {{pcScore}} </span> 
</div>

<div class="flex justify-center my-10">
  <button (click)="play('rock')" class="p-4 border-4 border-black rounded-full cursor-pointer  hover:border-red-500 ">
    <img src="https://static.thenounproject.com/png/477918-200.png">
  </button>
  <button (click)="play('paper')" class="p-4 border-4 border-black rounded-full cursor-pointer hover:border-red-500">
    <img src="https://static.thenounproject.com/png/477922-200.png">
  </button>
  <button (click)="play('scissors')" class="p-4 border-4 border-black rounded-full  cursor-pointer  hover:border-red-500">
    <img src="https://static.thenounproject.com/png/477919-200.png">
  </button>
</div>
<div class="flex justify-center my-10">
  <button class=" mt-8 py-2 px-4 bg-gray-300 rounded uppercase font-bold" (click)="reset()">Reset</button>
</div>